<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="sidebar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>通用表格系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/css/skins/skin-blue.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="/css/sidebar.css">
    <style>
        .form {
            width: 860px;
            height: 1200px;
        }

        .form-title {
            text-align: center;
        }

        .cell {
            box-sizing: border-box;
            border: 1px solid;
            font-size: 16px;
            text-align: center;
        }

        .cell-normal {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .cell-big {
            padding-top: 16px;
            padding-bottom: 16px;
            height: 220px;
        }

        .cell-bigger {
            padding-top: 16px;
            padding-bottom: 16px;
            height: 330px;
        }

        .cell-biggest {
            padding-top: 16px;
            padding-bottom: 16px;
            height: 440px;
        }

        .input-group-btn {
            width: auto;
            margin-right: 4px;
        }

        .float-left {
            float: left;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header" th:replace="common/header::header">

    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" th:replace="common/sidebar::sadebar">

    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                页头
                <small>可选描述</small>
            </h1>
        </section>
        <section class="content container-fluid">
            <div class="box box-danger direct-chat direct-chat-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">表格绘制</h3>
                </div>
                <div class="box-body">
                    <div class="input-group ">
                        <div class="input-group-btn float-left">
                            <button onclick="mode1Line1()" class="btn btn-making btn-danger btn-flat">模板1行1</button>
                        </div>
                        <div class="input-group-btn float-left">
                            <button onclick="mode1Line2()" class="btn btn-making btn-danger btn-flat">模板1行2</button>
                        </div>
                        <div class="input-group-btn float-left">
                            <button onclick="mode1Line3()" class="btn btn-making btn-danger btn-flat">模板1行3</button>
                        </div>
                    </div>
                    <div class="input-group ">
                        <div class="input-group-btn float-left">
                            <button onclick="mode2Line1()" class="btn btn-making btn-danger btn-flat">模板1行1</button>
                        </div>
                        <div class="input-group-btn float-left">
                            <button onclick="mode2Line2()" class="btn btn-making btn-danger btn-flat">模板1行2</button>
                        </div>
                        <div class="input-group-btn float-left">
                            <button onclick="mode2Line3()" class="btn btn-making btn-danger btn-flat">模板1行3</button>
                        </div>
                    </div>
                    <div class="input-group ">
                        <div class="input-group-btn float-left">
                            <button onclick="bigLine()" class="btn btn-making btn-danger btn-flat">XL</button>
                        </div>
                        <div class="input-group-btn float-left">
                            <button onclick="biggerLine()" class="btn btn-making btn-danger btn-flat">XXL</button>
                        </div>
                        <div class="input-group-btn float-left">
                            <button onclick="biggestLine()" class="btn btn-making btn-danger btn-flat">XXXL</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div id="form" class="form box-footer">
                    <h3 class="form-title">表&nbsp;&nbsp;格&nbsp;&nbsp;名&nbsp;&nbsp;称</h3>
                    <br/><br/>
                </div>
            </div>
        </section>
    </div>

    <footer class="main-footer" th:replace="common/footer::footer">

    </footer>

    <div class="control-sidebar-bg"></div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/adminlte.min.js"></script>
<script>
    function mode1Line1() {
        for (var i = 0; i < 3; i++) {
            var input1 = $('<input class="cell" />');
            input1.addClass("cell cell-normal");
            input1.width(90);
            $("#form").append(input1);
            var input2 = $('<input class="cell" />');
            input2.addClass("cell cell-normal");
            input2.width(190);
            $("#form").append(input2);
        }
    }
    function mode1Line2() {
        var input1 = $('<input class="cell" />');
        input1.addClass("cell cell-normal");
        input1.width(90);
        $("#form").append(input1);
        var input2 = $('<input class="cell" />');
        input2.addClass("cell cell-normal");
        input2.width(190);
        $("#form").append(input2);
        var input3 = $('<input class="cell" />');
        input3.addClass("cell cell-normal");
        input3.width(90);
        $("#form").append(input3);
        var input4 = $('<input class="cell" />');
        input4.addClass("cell cell-normal");
        input4.width(470);
        $("#form").append(input4);
    }
    function mode1Line3() {
        var input1 = $("<input />");
        input1.addClass("cell cell-normal");
        input1.width(90);
        $("#form").append(input1);
        var input2 = $("<input />");
        input2.addClass("cell cell-normal");
        input2.width(750);
        $("#form").append(input2);
    }
    function mode2Line1() {
        for (var i = 0; i < 4; i++) {
            var input1 = $("<input />");
            input1.addClass("cell cell-normal");
            input1.width(90);
            $("#form").append(input1);
            var input2 = $("<input />");
            input2.addClass("cell cell-normal");
            input2.width(120);
            $("#form").append(input2);
        }
    }
    function mode2Line2() {
        for (var i = 0; i < 2; i++) {
            var input1 = $("<input />");
            input1.addClass("cell cell-normal");
            input1.width(90);
            $("#form").append(input1);
            var input2 = $("<input />");
            input2.addClass("cell cell-normal");
            input2.width(120);
            $("#form").append(input2);
        }
        var input1 = $("<input />");
        input1.addClass("cell cell-normal");
        input1.width(90);
        $("#form").append(input1);
        var input2 = $("<input />");
        input2.addClass("cell cell-normal");
        input2.width(330);
        $("#form").append(input2);
    }
    function mode2Line3() {
        var input1 = $("<input />");
        input1.addClass("cell cell-normal");
        input1.width(90);
        $("#form").append(input1);
        var input2 = $("<input />");
        input2.addClass("cell cell-normal");
        input2.width(120);
        $("#form").append(input2);
        var input3 = $("<input />");
        input3.addClass("cell cell-normal");
        input3.width(90);
        $("#form").append(input3);
        var input4 = $("<input />");
        input4.addClass("cell cell-normal");
        input4.width(540);
        $("#form").append(input4);
    }
    function bigLine() {
        var input1 = $("<input />");
        input1.addClass("cell cell-big");
        input1.width(90);
        $("#form").append(input1);
        var input2 = $("<input />");
        input2.addClass("cell cell-big");
        input2.width(750);
        $("#form").append(input2);
    }
    function biggerLine() {
        var input1 = $("<input />");
        input1.addClass("cell cell-bigger");
        input1.width(90);
        $("#form").append(input1);
        var input2 = $("<input />");
        input2.addClass("cell cell-bigger");
        input2.width(750);
        $("#form").append(input2);
    }
    function biggestLine() {
        var input1 = $("<input />");
        input1.addClass("cell cell-biggest");
        input1.width(90);
        $("#form").append(input1);
        var input2 = $("<input />");
        input2.addClass("cell cell-biggest");
        input2.width(750);
        $("#form").append(input2);
    }
</script>
</body>

</html>